<!DOCTYPE html>
<html lang="en">
<head>
    <title>ERROR</title>
    <link
        rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename='hometry.css') }}"
    />
    <link
</head>
<body>
    <h1 style="background-color: darkblue;">OOPS! ERROR NOT FOUND</h1>
    <center>
            <img src="https://www.pinclipart.com/picdir/big/85-852230_koya-sticker-bt21-koya-gif-clipart.png"/>
            
            <form action="http://localhost:1234/">
                <p> 
                    <input type="submit" value="Go Back">
                </p>
            </form>

    </center>
    


</body>
</html>